<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head') %>
</head>
<body>
    <h1><%= friend.name %></h1>
    <h3><%= friend.handle %></h3>
    <h3><%= friend.skill %></h3>
</body>
</html>
